[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.1.4"
flask-migrate = "*"
flask-script = "*"
flask-cors = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
flask-mail = "*"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.8"
